.calories {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.form {
  padding: 20px;
  width: 500px;
  min-width: 320px;
  border-radius: 8px;
  border: 10px solid yellow;
  font-weight: bold;
  font-size: 20px;
  
}
.form>h1{
  font-size: 120%;
  text-align: center;
  color: white;
}
.form > div {
  margin-bottom: 12px;
}
.form_radio {
  margin-bottom: 10px;
}
.form_radio input[type="radio"] {
  display: none;
}

.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.form_radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 18px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: url(/src/styles/img/unchecked.png);
  background-size: contain;
}
.form>h1 {
  font-size: 20px;
  margin-bottom: 10px;

}
hr{
  border: 1px solid yellow;
  margin-bottom: 15px;
}
.form_radio input[type="radio"]:checked + label:before {
  background: url(/src/styles/img/check.png);
  background-size: contain;
  color: white;
}

.form_radio label:hover:before {
  color: white;
  filter: brightness(120%);
}
input {
  width: 60px;
  outline: none;
  border: 1px solid yellow;
  background: transparent;
  font-family: 'Karla', sans-serif;
  color: white;
  padding: 3px;
  margin-left: 10px;
  text-align: center;
  font-weight:  bold;
  letter-spacing: 2px;
}
.inputs {
  display: grid;
  grid-template-columns: 20% 20% 5%;
  row-gap: 10px;
  column-gap: 5px;
}

select {
  width: 100%;
  outline: none;
  border: 1px solid rgba(176, 179, 3, 0.759);
  background: transparent;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  color: white;
}
select:focus {
  background-color: rgba(176, 179, 3, 0.759);
  color: rgb(1, 1, 1);
}
.button {
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  background: rgba(255, 255, 0, 0.368);
  border: 1px solid yellow;
  color: white;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover{
    background-color: yellow;
    color: black;
}
.ccalResult {
  color: white;
}
